<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input (ionInput)="updateApiKey($event)" label="Input with api key" placeholder="Enter API key"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input (ionInput)="updateCatsMaxQuantity($event)" type="number" max="100" label="Maximum cats quantity"
               placeholder="Maximum cats quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input (ionInput)="updateMultiplyFactor($event)" type="number" label="Multiply array of cats by factor of"
               placeholder="Multiply array of cats by factor of"></ion-input>
  </ion-item>
  <ion-button (click)="searchForCats()">Search for cats</ion-button>
  <ion-button *ngIf="cats.length" (click)="toggleCats()">Toggle cats</ion-button>
  <ion-list *ngIf="catsVisibility">
    <ion-item *ngFor="let cat of cats;">
      <app-cat  [cat]="cat"></app-cat>
    </ion-item>
  </ion-list>

</ion-content>
